annotated-types==0.6.0
click==8.1.7
cloudpickle==3.0.0
dask==2024.4.2
dask-expr==1.0.13
DateTime==5.5
fsspec==2024.3.1
importlib_metadata==7.1.0
iniconfig==2.0.0
locket==1.0.0
mock==5.1.0
numpy==1.26.4
packaging==24.0
pandas==2.2.2
partd==1.4.1
pluggy==1.5.0
pyarrow==16.0.0
pydantic==2.7.1
pydantic_core==2.18.2
pytest==8.2.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
six==1.16.0
toolz==0.12.1
typing_extensions==4.11.0
tzdata==2024.1
zipp==3.18.1
zope.interface==6.3
